body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.navbar{    
  height: 80px;
  position: sticky;
  top: -15px;
  background-color: #988686;
  border-radius: 5px;
  margin: -5px;
  display: flex;
  align-items: center;
  z-index: 20;
}
.inner-navbar{
  height: 65px;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.active{
  background-color: #232425;
  color: #d1d0d0;
  font-size: 1.3em;
  margin-left: 10px;
  padding: 15px;
  box-shadow: 1px 0px 1px #232425;
  border-radius: 4px;
}
.active:hover{
  background-color: #333435;
  color: #e1e0e0;
}
.element-list{
  display: flex;
  color: #232425;
  margin-top: -10px;
  margin-right: 1%;
  margin-bottom: -10px;
  width:fit-content;
  align-items: center;
}
.element{
  color: #232425;
  font-size: 1em;
  text-align: center;
  width: auto;
  padding: 10px;
  margin: 5px;
  transition-duration: 0.2s;
}

.element:hover{
  font-size: 1.05em;
  background-color: #887676;
  box-shadow: 0px 0px 1px 1px #6c5e5e;
  border-radius: 4px;
}
.drop {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.drop-button {
  cursor: pointer;
  text-align: center;
}
.drop-element {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.drop-content {
  position:absolute;
  display:none;
  visibility: hidden;
  margin: 11px;
  cursor:pointer;
  height: max-content;
  background-color: #988686;
  border-radius: 5px;
}
.drop-button:hover > .drop-content,
.drop-content:focus-within > .drop-content {
  display: block;
  visibility: visible;
  width: 100px;
  padding: 0;
  margin: 0;
}